// Bootstrap colors:
$red: #FD1015;
$blue: #167FFB;
$green: #1EDD88;

// Couleurs de la charte graphique:
$orange:  #EF7A59;
$yellow: #fed16e;
$pink: #f7b49a;
$beige: #fdf9f3;

// Nuances de gris:
$dark-grey: #393939;
$grey: #828585;

