.basket-profil-picture {
  height: 36px;
  width: 36px;
  background-color: $light-grey;
  border-radius: 100%;
  margin: auto;
  margin-bottom: 8px;
}

.basket-form {
  label {
    color: $grey;
    font-size: 14px;
    font-weight: 300;
    margin-left: 3px;
    margin-bottom: 3px;
  }

  .inactive-input {
    pointer-events: none;
  }
}
