.cook-detail-container {
  background-color: $light-grey;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

.meal-cards-container {
  display: flex;
  flex-flow: row wrap;
}

.global-container {
  margin: auto;
  max-width: 1120px;
}
