.orange-banner {
  height: 180px;
  width: 100vw;
  background-color: $orange;
}

.yellow-banner {
  height: 180px;
  width: 100vw;
  background-color: $yellow;
}

.banner-title {
  height: 100%;
  padding-bottom: 55px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  h2 {
    color: $white;
  }
}

.page-lifted {
  position: relative;
  z-index: 10;
  margin-top: -30px;
}
