.orange-banner {
  height: 180px;
  width: 100vw;
  background-color: $orange;
}

.yellow-banner {
  height: 180px;
  width: 100vw;
  background-color: $yellow;
}

.banner-title {
  padding-top: 90px;

  h2 {
    color: $white;
  }
}

.page-lifted {
  position: relative;
  z-index: 10;
  margin-top: -30px;
}
