
<div id='searchbar-access' class='flex-center orange-bg'></div>

<div id='searchbar' class='searchbar-display'>
  <%= render 'shared/searchbar' %>
</div>

<div class='cards-container'>
  <% @cooks.each do |cook| %>
    <%= render partial: 'shared/cook_card', locals: {cook: cook} %>
  <% end %>
</div>

<%= javascript_pack_tag 'searchbar', 'openCookShow' %>
