
<div class='meal-card card-s white-card-border flex-row-sb-center'>
  <%= render 'shared/meal_card_content' %>
</div>

<div class='meal-card card-xl white-card-border flex-row-sb-center'>
  <%= render 'shared/meal_card_content' %>
</div>
