<div id='meal-pop-up' data-id='' data-price='' class='meal_pop_up_bg_filter hidden'>
  <div class='meal_pop_up_card white-card'>
    <div class='meal_pop_up_header flex-row-center-center'>
      <h3 id='meal-pop-up-name'>Hachis parmentier</h3>
      <div id='meal_pop_up_cross' class='quit-meal-pop-up grey-16'><i class="fas fa-times"></i></div>
    </div>
    <div class='meal_pop_up_content'>
    </div>
    <div class='meal_pop_up_footer flex-row-sb-center'>
      <div class='white-btn mr-2'>

        <div class='flex-row-center-center'>
          <div id='meal-pop-up-minus-btn' class='very-light-grey-14 pointer'><i class="fas fa-minus-circle"></i></div>
          <p id='meal-pop-up-quantity' class='grey-16 basket-order-number flex-row-center-center'>1</p>
          <div id='meal-pop-up-plus-btn' class='very-light-grey-14 pointer'><i class="fas fa-plus-circle"></i></div>
        </div>

      </div>
      <div id='meal-pop-up-total-btn' class='quit-meal-pop-up red-btn'>Total 16,00 €</div>
    </div>
  </div>
</div>
