
<div class='flex-column-sb h-100'>
  <h3><%= meal.name %></h3>
  <p>Hommos, moutabal, tabouleh, assortiments de beignets...</p>
  <p class='grey-16'><%= meal.price %> €</p>
</div>
<%= image_tag 'meal.jpg', class: 'meal-card-image' %>
