<div id='meal-pop-up' data-id='200' class='meal_pop_up_bg_filter hidden'>
  <div class='meal_pop_up_card white-card'>
    <div class='meal_pop_up_header flex-row-center-center'>
      <h3 id='meal-pop-up-name'>Hachis parmentier</h3>
      <i class="fas fa-times grey-16 meal_pop_up_exit open-exit-meal-pop-up"></i>
    </div>
    <div class='meal_pop_up_content'>
    </div>
    <div class='meal_pop_up_footer flex-row-sb-center'>
      <div class='white-btn mr-2'>

        <div class='flex-row-center-center'>
          <i class="fas fa-minus-circle very-light-grey-14"></i>
          <p class='grey-16 basket-order-number flex-row-center-center'>3</p>
          <i class="fas fa-plus-circle very-light-grey-14"></i>
        </div>

      </div>
      <div id='meal-pop-up-total-btn' class='red-btn'>Total 16,00 €</div>
    </div>
  </div>
</div>
