


<div class='searchbar-bg yellow-bg flex-row-center-center'>
  <div class="searchbar-card white-bg flex-row-sb">

    <%= simple_form_for :search, url: '#',
      wrapper: :inline_form,
      html: { class: "form-inline searchbar-form flex-row-sb" },
      wrapper_mappings: {
        boolean: :inline_boolean
      } do |f| %>

      <div class='searchbar-item flex-column-sb'>
        <h2>Quand ?</h2>
        <div class='flex-row-start-center'>
          <div class='mr-2'><i class="far fa-calendar-alt searchbar-text"></i></div>
          <%= f.input :date, input_html: { placeholder: 'Choisis ta date', class: "searchbar-field searchbar-text" } %>
        </div>
      </div>

      <div class='searchbar-item flex-column-sb'>
        <h2>Où ?</h2>
        <div class='flex-row-start-center'>
          <div class='mr-2'><i class="fas fa-map-marker-alt searchbar-text"></i></i></div>
          <%= f.input :location, input_html: { placeholder: 'Entre ton adresse', class: "searchbar-field searchbar-text" } %>
        </div>
      </div>

      <%= f.button :submit, value: 'Valider' ,class: "red-btn" %>
    <% end %>

  </div>
</div>
