

<div class="searchbar-card">




  <%= simple_form_for :search, url: '#',
    wrapper: :inline_form,
    html: { class: "form-inline searchbar-form" },
    wrapper_mappings: {
      boolean: :inline_boolean
    } do |f| %>

    <div class='field-block'>
      <h2>Quand ?</h2>
      <div class='inline-field'>
        <div class='mr-2'><i class="far fa-calendar-alt field-icon"></i></div>
        <%= f.input :date, input_html: { placeholder: 'Choisis ta date', class: "field" } %>
      </div>
    </div>

    <div class='field-block'>
      <h2>Où ?</h2>
      <div class='inline-field'>
        <div class='mr-2'><i class="fas fa-map-marker-alt field-icon"></i></i></div>
        <%= f.input :location, input_html: { placeholder: 'Entre ton adresse', class: "field" } %>
      </div>
    </div>

    <%= f.button :submit, value: 'Valider' ,class: "red-btn" %>
  <% end %>

</div>
