<div class='yellow-banner'>
  <div class='dashboard-container banner-title'>
    <h2>Ajouter une nouvelle recette</h2>
  </div>
</div>

<div class='dashboard-container page-lifted'>
  <div class='dashboard-card mt-0'>
    <div class='dashboard-card-header category-card flex-row-start-center'>
      <h3 class='dashboard-card-title white-font'>Détails</h3>
    </div>
    <div class='dashboard-card-body basket-form'>
      <div class=''>
        <%= render partial: 'shared/category_form', locals: {category: @category,
                                                             cook: @cook,
                                                             url: cook_dashboard_categories_path,
                                                             method: 'POST',
                                                             button: 'Ajouter la catégorie'} %>
      </div>
    </div>
  </div>
</div>
