<div class='yellow-banner'>
  <div class='dashboard-container banner-title'>
    <h2>Ajouter une nouvelle recette</h2>
  </div>
</div>

<div class='dashboard-container page-lifted'>
  <div class='dashboard-card'>
    <div class='dashboard-card-header border-bottom flex-row-start-center'>
      <h3 class='dashboard-card-title'>Détails</h3>
    </div>

    <div class='dashboard-card-body basket-form'>
      <%= render partial: 'shared/meal_form', locals: {meal: @meal,
                                                       categories: @categories,
                                                       url: meals_path,
                                                       method: 'POST',
                                                       button: 'Ajouter la nouvelle recette'} %>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'ingredientsRanking' %>
