h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h3, h2 {
  color: $dark-grey;
  font-weight: 500;
  margin: 0px;
}

p {
  color: $grey;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  margin: 0px;
}

img {
  border-radius: 5px;
  object-fit: cover;
}

a:link {
 text-decoration: none;
}

.underline {
  text-decoration: underline !important;
}

// MARGINS

.mt-10px {
  margin-top: 10px;
}

// FONTS

.yellow-font {
  color: $yellow;
}

.yellow-14 {
  color: $yellow;
  font-size: 14px;
  font-weight: 300;
}

.orange-font {
  color: $orange;
}

.orange-14 {
  color: $orange;
  font-size: 14px;
  font-weight: 300;
}

.orange-16 {
  color: $orange !important;
  font-size: 16px;
  font-weight: 300;
}

.grey-14 {
  color: $grey;
  font-size: 14px;
  font-weight: 300;
}

.grey-16 {
  color: $grey;
  font-size: 16px;
  font-weight: 300;
}

// FLEXBOX

.flex-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-sb-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// BACKGROUND

.orange-bg {
  background-color: $orange;
}

.yellow-bg {
  background-color: $yellow;
}

.white-bg {
  background-color: $white;
}
