.meal-card-container {
  padding: 8px;
  height: fit-content;
}

.meal-card {
  height: 135px;
  max-width: 489px;
  padding: 20px;
  margin: 0 auto 0 auto;
  cursor:  pointer;
}

.meal-card-image {
  height: 95px;
  width: 95px;
  margin-left: 20px;
}

// RESPONSIVE

@media (max-width: 991px) {
  .meal-card {
    max-width: 489px;
  }
}

@media (max-width: 576px) {
  .meal-card {
    max-width: 100%;
    border-radius: 0px !important;
    margin: 0px !important;
    border: none !important;
    border-bottom: 1px solid $very-light-grey !important;
  }

  .meal-card-container {
    padding: 0;
  }

  .meal-cards-container {
    padding: 0 !important;
    border-top: 1px solid $very-light-grey !important;
  }
}
