.red-btn {
  width: 155px;
  height: 45px;
  background: #EF7A59;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  cursor:  pointer;
}


.white-btn {
  width: 155px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: $grey;
  border: 1px solid $very-light-grey;
}
