.red-btn {
  width: 155px;
  height: 45px;
  background: #EF7A59;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
